.layout{
    display: grid;
    grid-template-areas: "nav nav nav nav"
                        
                         "left left right right"
                         " card card card card"
                         "footer footer footer footer";
    grid-template-columns: 27% 27% 23% 23%;
}
h2{
    
    font-size: 3rem;
   
    .rescata{
       margin-left:1rem ;
       color: rgb(170, 81, 29);
       font-size: 2.2rem;
    }
}
