@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import 'https://fonts.googleapis.com/css?family=Do+Hyeon';
:root {
  --primary-color: #0a2f35;
  --grey: #e9dbd8;
  --overlay: #0000009c;
  font-size: 62.5%;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #e9dbd8;
}

header {
  background: var(--primary-color);
  color: #e9dbd8;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 1000;
  grid-area: nav;
}

nav li a {
  color: #e9dbd8;
  padding: 0.0625em;
  display: block;
}

nav li a:hover {
  color: var(--primary-color);
  background-color: #e9dbd8;
  cursor: pointer;
  transition: 0.3s;
}

.text-bg-purple {
  background-color: #e0dbd8;
}

#logo {
  display: unset;
  height: 70px;
  width: 80px;
}

@media (min-width: 480px) {
  header {
    align-items: center;
    background: #e9dbd8;
  }
  #logo {
    display: unset;
    height: 70px;
    width: 80px;
  }
  nav ul {
    display: flex;
    align-items: center;
  }
  nav li a {
    color: rgba(0, 0, 0, 0.6117647059);
    margin-right: 0.5em;
    font-weight: 600;
  }
}
@media (min-width: 720px) {
  .home, .features.team {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 900px) {
  nav li a {
    margin-right: 1em;
  }
  .features, .team {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-item-one, .grid-item-two {
    margin: auto;
  }
  footer {
    font-size: 1.8rem;
    font-weight: 300;
  }
}
@media (min-width: 1200px) {
  .center {
    max-width: 1200px;
    margin: auto;
  }
  header {
    justify-content: space-evenly;
    align-items: center;
  }
}
.layout {
  display: grid;
  grid-template-areas: "nav nav nav nav" "left left right right" " card card card card" "footer footer footer footer";
  grid-template-columns: 27% 27% 23% 23%;
}

h2 {
  font-size: 3rem;
}
h2 .rescata {
  margin-left: 1rem;
  color: rgb(170, 81, 29);
  font-size: 2.2rem;
}

.left {
  grid-area: left;
  background-color: var(--primary-color);
  color: #e9dbd8;
}
.left h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 1.2;
  margin-top: 50px;
}
.left h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.animales {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.animales__items {
  webkit-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 200px;
}
.animales__items .text {
  height: 20%;
  margin: 0;
  color: rgb(8, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  right: 0;
  left: 0;
}

button.animales__items:hover {
  background-color: #f1ebe6;
}

button.animales__items:focus {
  background-color: #7adb6e;
}

.input-flex {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-group {
  left: 200px;
}

.input-group--mod {
  left: 350px;
  position: relative;
  width: 147px;
  background-color: #9ab0e9;
}
.input-group--mod:hover {
  background-color: #e9c6b5;
}

.btn:disabled {
  color: #000;
  border-color: rgb(65, 21, 114);
}

.btn-outline-secondary {
  color: rgb(65, 21, 114);
}

.form-control {
  border: 1px solid rgb(53, 21, 104);
  color: rgb(53, 21, 104);
}

button#button-addon2\ buscar {
  background-color: #9ab0e9;
}

.right {
  grid-area: right;
  background-color: var(--primary-color);
}

#map {
  height: 60vh;
  width: 50hw;
}

.card-foro {
  grid-area: card;
  background-color: white;
}

.blog .blog-thumbnail {
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  display: flex;
  align-items: center;
  gap: 70px;
}
.blog a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.al-foro {
  margin-top: 100px;
  font-size: 2rem;
  color: rgb(141, 136, 251);
}

.footer {
  background: linear-gradient(transparent, rgba(110, 110, 110, 0.3)), linear-gradient(100deg, rgba(250, 214, 195, 0.8) 30%, #B0EAE8 120%);
  grid-area: footer;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.nav-footer ul {
  gap: 2rem;
}
.nav-footer ul li {
  color: rgb(15, 15, 14);
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}
.nav-footer ul li:hover {
  color: blue;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  color: rgb(17, 15, 15);
  font-weight: bold;
  font-size: 16px;
}

.social-links {
  display: flex;
}

.social-links a {
  color: rgb(7, 7, 7);
  padding: 0px 5px 0px 5px;
}

.social-links a:hover {
  color: #ff6363;
  transition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(transparent, rgba(110, 110, 110, 0.3)), linear-gradient(100deg, rgba(250, 214, 195, 0.8) 30%, #B0EAE8 120%);
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.cards-main {
  display: flex;
  justify-content: center;
}

.card__collection {
  position: relative;
  display: block;
  padding: 10px;
  font-family: "Do Hyeon", sans-serif;
  overflow: hidden;
}
.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
}
.card__collection .cards--two {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  z-index: 8;
  transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
  height: 450px;
}
.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #57ccfd;
  position: absolute;
  content: "";
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f07306;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: "";
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  border-radius: 50%;
}

.reply-list:before, .reply-list:after {
  display: none;
}

.reply-list li:before {
  content: "";
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}

.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
  color: #03658c;
}

.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  border-radius: 3px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }
  .comments-list .comment-box {
    width: 390px;
  }
  .reply-list .comment-box {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .layout {
    grid-template-areas: "nav nav nav nav" "left left left left" "right right right right " "card card card card" "footer footer footer footer";
  }
  .blog .blog-thumbnail {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .layout {
    grid-template-areas: "nav " "left  " "right" "card " "footer";
    grid-template-columns: 100%;
  }
  img.img-foro {
    width: 300px;
  }
  .input-group--mod {
    left: 100px;
  }
  .animales__items {
    width: 100px;
  }
  .animales__items .text {
    font-size: 13px;
  }
}/*# sourceMappingURL=estilos.css.map */